.injected-class {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    border: 1px solid black;
}

.injected-class.loading-check {
    background-color: yellow;
}

.injected-class.nfraud {
    align-items: start;
    background-color: green;
}

.injected-class.yfraud {
    background-color: red;
}
